/* Responsive: Tablet */
@media (max-width:1069px) {
    #menu {
        min-width: 30%;
    }
    #content {
        width: 70%;
    }
    #content .items .item {
        margin-bottom: 10px !important;
        max-width: 100%;
        flex-grow: 1;
        flex-basis: 100% !important;
    }
    #content .filter .btn-filter {
        margin-top: 0;
    }
    .table .table-hoten {
        min-width: 100px;
    }
    .table .table-address {
        min-width: 150px;
    }
}

/* Responsive: Điện thoại */
@media (max-width: 739px) {
    #menu.close-nav {
        display: none;
    }

    #menu.open {
        display: block;
        position: absolute;
        width: 65%;
        z-index: 1;
    }

    #content {
        width: 100%;
    }

    #content .navbar {
        justify-content: space-between;
    }

    #content .navbar .nav-left {
        display: block;
    }

    #content .navbar .nav-left.close-btn {
        display: none;
    }

    #content .navbar .navbar-title {
        display: none;
    }

    #content .navbar .form-search {
        width: 100%;
    }

    .modal .m-content {
        font-size: 18px;
    }
}